{% macro module(name, view, skins, connectors, attrs, path) %}

{# validate params #}
{% set name = (name | capitalize) | default('Default') %}
{% set view = (view | lower) | default(name) %}
{% set skins = skins | default([]) %}
{% set connectors = connectors | default([]) %}
{% set attrs = attrs | default([]) %}
{% set path = path | default(null) %}
Test
<div
class="mod
    {# specific mod#}
    {{ "mod" ~ name }}

    {# skins #}
    {% for skin in skins %}
        {{ 'skin' ~ name ~ (skin | capitalize) }}
    {% endfor %}

    {# connectors #}
    {% for connector in connectors %}
        {{ 'conn' ~ connector }}
    {% endfor %}
"

{# additional attrs (exception class attribute) #}
{% for attr, value in attrs if attr != "class" %}
    {{ attr ~ '="' ~ value ~ '"' }}
{% endfor %}
>
</div>
{% endmacro %}