{% extends 'TerrificComposition::base.html.twig' %}

{% block title %}TerrificJS, Basics{% endblock %}

{% block body %}
<div class="center">
    <div class="right-col size1of3">
        {{ tc.module('Toc', 'Api/basics')}}
    </div>
</div>
<div class="center hd">
    <h2 class="h2"><span>Basics</span></h2>
</div>
<div class="slope">
    <div class="center slope-content">
        <div class="bd size2of3">
            {{ tc.module('Content', 'Api/basics')}}
        </div>
    </div>
</div>

{% endblock %}
