{% extends 'TerrificComposition::base.html.twig' %}

{% block title %}TerrificJS, Download{% endblock %}

{% block body %}
<span class="demo">&nbsp;</span>
<div class="center top">
    {{ tc.module('Intro', 'apidownload') }}
</div>
<div class="center hd first">
    <h2 class="h2"><span>&nbsp;</span></h2>
</div>
<div class="slope first">
    <div class="center slope-content">
        <div class="indent block size2of3 rich">
            <h3>Download</h3>
            <ul>
                <li><a title="Current Release 2.1.0 – Compressed"
                       href="{{app.request.basepath}}/downloads/terrific-2.1.0.min.js">Compressed – v2.1.0</a> &ndash;
                    Recommended for production use
                </li>
                <li><a title="Current Release 2.1.0" href="{{app.request.basepath}}/downloads/terrific-2.1.0.js">Uncompressed – v.2.1.0</a>
                </li>
            </ul>

            <h3>About The Code</h3>

            <p>The code itself is written rather cleanly in an attempt to self-document. If you've spotted some areas of
                code that could be improved, please feel free to contact <a title=""
                                                                            href="mailto:remo@terrifically.org">me</a>
                or make a pull request on <a title="" href="https://github.com/brunschgi/terrificjs">Github</a>. All
                input is gladly appreciated!
            </p>
        </div>
    </div>
</div>
{% endblock %}
