{% extends 'TerrificComposition::base.html.twig' %}

{% block title %}TerrificJS, Skin{% endblock %}

{% block body %}
<div class="center">
    <div class="rightCol size1of3">
        {{ tc.module('Toc', 'Api/skin')}}
    </div>
</div>
<div class="center hd">
    <h2 class="h2"><span>Skin</span></h2>
</div>
<div class="slope">
    <div class="slopeContent center">
        <div class="bd size2of3">
            {{ tc.module('Content', 'Api/skin')}}
        </div>
    </div>
</div>
{% endblock %}
