<img src="{{ asset('bundles/terrificmoduleintro/img/remobrunschwiler.png')}}" width="220" />
<div class="bubble"><span class="emphasize">Hi, I'm Remo Brunschwiler</span><br /><span>Inventor and lead <br />developer of Terrific</span><span class="arrow"></span></div>
<ul class="social">
    <li><iframe width="160px" scrolling="0" height="20px" frameborder="0" allowtransparency="true" src="http://markdotto.github.com/github-buttons/github-btn.html?user=brunschgi&amp;type=follow&amp;count=true" class="github-btn">></iframe></li>
    <li class="divider">·</li>
    <li class="follow-btn">
        <iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.1330467312.html#_=1330534877067&amp;id=twitter-widget-2&amp;lang=en&amp;screen_name=brunschgi&amp;show_count=true&amp;show_screen_name=false&amp;size=m" class="twitter-follow-button" style="width: 138px; height: 20px;" title="Twitter Follow Button"></iframe>
    </li>
</ul>