<a href="{{ path('home') }}" title=""><img src="{{ asset('bundles/terrificmoduleintro/images/einstein.png') }}" width="220"></a>
<div class="bubble"><span>Take breath & dive deep into</span> <span class="emphasize">Architecture & Naming Conventions</span><span class="arrow"></span></div>
