<img src="{{ asset('bundles/terrificmoduleintro/img/einstein.png') }}" width="220" />
<div class="bubble"><span>Download TerrificJS –</span><br /><span class="emphasize">small footprint, big impact</span><span class="arrow"></span></div>
<ul class="social">
    <li><iframe width="131px" scrolling="0" height="20px" frameborder="0" allowtransparency="true" src="http://markdotto.github.com/github-buttons/github-btn.html?user=brunschgi&amp;type=follow&amp;count=false" class="github-btn">></iframe></li>
    <li>
        <iframe width="90px" scrolling="0" height="20px" frameborder="0" allowtransparency="true" src="http://markdotto.github.com/github-buttons/github-btn.html?user=brunschgi&amp;repo=terrificjs&amp;type=watch&amp;count=true" class="github-btn"></iframe>
    </li>
    <li class="divider">·</li>
    <li class="follow-btn">
        <iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.1330467312.html#_=1330534877067&amp;id=twitter-widget-2&amp;lang=en&amp;screen_name=brunschgi&amp;show_count=false&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button" style="width: 128px; height: 20px;" title="Twitter Follow Button"></iframe>
    </li>
    <li class="tweet-btn">
        <iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.1330467312.html#_=1330534877061&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fterrifically.org%2F&amp;related=brunschgi%3ACreator%20of%20TerrificJS&amp;size=m&amp;text=Modularize%20your%20JavaScript%20code%20with%20TerrificJS&amp;url=http%3A%2F%2Fterrifically.org%2Fapi&amp;via=brunschgi" class="twitter-share-button twitter-count-horizontal" style="width: 107px; height: 20px;" title="Twitter Tweet Button"></iframe>
    </li>
</ul>