<a href="{{ path('composer') }}" title=""><img src="{{ asset('bundles/terrificmoduleintro/images/beethoven.png') }}" width="220"></a>
<div class="bubble"><span class="emphasize">Compose frontends like a virtuoso</span><span class="arrow"></span></div>
