<img src="{{ asset('bundles/terrificmoduleintro/images/einstein.png') }}" width="220" />
<div class="bubble"><span>Let me explain you the</span><br /><span class="emphasize">concept of Terrific</span><span class="arrow"></span></div>
<ul class="social">
    <li class="follow-btn">
        <iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.1330467312.html#_=1330534877067&amp;id=twitter-widget-2&amp;lang=en&amp;screen_name=brunschgi&amp;show_count=false&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button" style="width: 128px; height: 20px;" title="Twitter Follow Button"></iframe>
    </li>
    <li class="tweet-btn">
        <iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.1330467312.html#_=1330534877061&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fwww.terrifically.org%2F&amp;related=brunschgi%3ACreator%20of%20Terrific&amp;size=m&amp;text=Terrific!%20Modularize%20your%20Frontend%20with%20Terrific&amp;url=http%3A%2F%2Fwww.terrifically.org%2F&amp;via=brunschgi" class="twitter-share-button twitter-count-horizontal" style="width: 90px; height: 20px;" title="Twitter Tweet Button"></iframe>
    </li>
    <li class="divider">·</li>
    <li class="flattr-btn"><a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://www.terrifically.org"></a>
        <noscript><a href="http://flattr.com/thing/546192/Terrific-Modularize-your-Frontend-Code" target="_blank">
            <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript></li>
</ul>