<a href="{{ path('home') }}" title=""><img src="{{ asset('bundles/terrificmoduleintro/images/einstein.png') }}" width="220"></a>
<div class="bubble"><span>Let me explain you</span><br /><span class="emphasize">the concept of Terrific</span><span class="arrow"></span></div>
