@font-face {
    font-family: 'Quicksand';
    src: url('/bundles/terrificcomposition/fonts/Quicksand_Book-webfont.eot');
    src: url('/bundles/terrificcomposition/fonts/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'), url('/bundles/terrificcomposition/fonts/Quicksand_Book-webfont.woff') format('woff'), url('/bundles/terrificcomposition/fonts/Quicksand_Book-webfont.ttf') format('truetype'), url('/bundles/terrificcomposition/fonts/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Quicksand';
    src: url('/bundles/terrificcomposition/fonts/Quicksand_Bold-webfont.eot');
    src: url('/bundles/terrificcomposition/fonts/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/bundles/terrificcomposition/fonts/Quicksand_Bold-webfont.woff') format('woff'), url('/bundles/terrificcomposition/fonts/Quicksand_Bold-webfont.ttf') format('truetype'), url('/bundles/terrificcomposition/fonts/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* General */
body {
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    color: #7F7F7F;
}

.autoCenter {
    width: 960px;
    margin: 0 auto;
}

.slopes {
    width: 100%;
    overflow: hidden;
}

.slopes .slope {
    position: relative;
    margin: 5em -10em 0 -10em;
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    transform: rotate(5deg);
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    transform-origin: left center;
    background: #EDEEF0;
    overflow: hidden;
}

.slopes .slopeContent {
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    transform-origin: left center;
    padding: 8em 0 4em 0;
}


/* Headings */
h2.base, h3.base, h4.base, h5.base, h6.base, .rich h2, .rich h3, .rich h4, .rich h5, .rich h6 {
    font-family: 'Quicksand', Helvetica, sans-serif;
    color: #333;
}

h3.base:first-child, .rich h3:first-child {
    margin-top: 0;
}

h2.base, .rich h2 {
    font-size: 2.5em; /* 40 / 16 */
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 1.2em; /* 48 / 40 */
    margin: 0 0 0.6em 0; /* 24 / 40  */
    color: #333333;
}

h3.base, .rich h3 {
    font-size: 1.666666em; /* 30 / 18 */
    line-height: 1.2em; /* 36 / 30 */
    margin: 1.2em 0 0.5em 0;
}

h4.base, .rich h4 {
    font-size: 1.333333em; /* 24 / 18 */
    line-height: 1em;
    margin: 1.5em 0 0.5em 0;
}

h5.base, .rich h5 {
    font-size: 1.111111em; /* 20 / 18 */
    line-height: 1.2em; /* 24 / 20 */
    margin: 1.2em 0 0.5em 0;
}

h5.base, .rich h5 {
    font-size: 1.111111em; /* 20 / 18 */
    line-height: 1.2em; /* 24 / 20 */
    margin: 1.2em 0 0 0;
}

/* Lists */
ul.base, .rich ul, ol.base, .rich ol {
    margin: 0.4em 0 1.6em 0;
    font-size: 0.9375em; /* 15 /16 */
    line-height: 1.5em; /* 22.5 / 15 */
}

ul.base ul, ol.base ol, .rich ul ul, .rich ol ol {
    margin: 0.5em 0 0 0;
    font-size: 1em;
}

ul.base li, ol.base li, .rich ul li, .rich ol li {
    margin-bottom: 0.25em;
}

ul.base li, .rich ul li {
    background: transparent url('/bundles/terrificcomposition/images/sprite.png') 0px 0.62em no-repeat;
    padding-left: 22px;
}

ol.base li, .rich ol li {
    list-style: decimal-leading-zero;
    list-style-position: inside;
    background: none;
    padding: 0 0 0 1.5em;
}

/* Text blocks */
p.base, .rich p {
    margin-bottom: 1.6em; /* 24 / 15 */
    font-size: 0.9375em; /* 15 /16 */
    line-height: 1.6em; /* 24 / 15 */
}

em.base, .rich em {
    font-style: italic;
    color: #696969;
    display: inline-block;
    padding: 0 1px 0 0;
}

mark.base, .rich mark {
    background: #de002f;
    color: #fff;
    padding: 0 0.25em;
}

blockquote.base, .rich blockquote {

}

/* Images */
img.base, .rich img {
    margin-bottom: 1.2em; /* 18 / 15 */
}

/* Links */
a.base, .rich a {
    display: inline-block;
    padding: 0 0.25em;
    color: #de002f;
    background: transparent;
    text-decoration: none;
}

a.base:visited .rich a:visited {
    background: #7F7F7F;
    color: #fff
}

a.base:hover, a.base:active, .rich a:hover, .rich a:active {
    background: #de002f;
    color: #fff;
}
