<div class="bubble rich">
    <span class="comingsoon h3">Coming Soon</span>
    <span class="arrow"></span>
</div>
<img src="{{ asset('bundles/terrificmodulecontent/images/integrations/symfony.png')}}" width="80"/>
