<div class="bubble rich">
    <h4 class="h3">Terrific Theme Framework for WordPress</h4>

    <p>A modular approach for your WordPress theme.</p>
    <ul class="buttons">
        <li><a class="button" href="/wordpress">Learn More</a></li>
        <li><a class="button" href="/wordpress/download">Download</a></li>
    </ul>
    <span class="arrow"></span>
</div>
<img src="{{ asset('bundles/terrificmodulecontent/images/integrations/wordpress.png')}}" width="80"/>