{% extends 'TerrificComposition::base.html.twig' %}

{% block title %}Terrific, About{% endblock %}

{% block body %}
<div class="center top">
    {{ tc.module('Intro', 'about') }}
</div>
<div class="center hd first">
    <h2 class="h2"><span>&nbsp;</span></h2>
</div>
<div class="slope first">
    <div class="center slopeContent">
        {{ tc.module('Content', 'About/about')}}
    </div>
</div>
{% endblock %}