{% extends 'TerrificComposition::base.html.twig' %}

{% block title %}Terrific, About{% endblock %}

{% block meta %}
<meta name="description" content="See who is behind the Terrific project" />
{{ parent() }}
{% endblock %}

{% block js_default %}
<script type="text/javascript">
    /* <![CDATA[ */
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();
    /* ]]> */</script>
{% endblock %}

{% block body %}
<span class="demo">&nbsp;</span>
<div class="center top">
    {{ tc.module('Intro', 'about') }}
</div>
<div class="center hd first">
    <h2 class="h2"><span>&nbsp;</span></h2>
</div>
<div class="slope first">
    <div class="center slope-content">
        {{ tc.module('Content', 'About/about')}}
        <blockquote class="centered">
           a big «thank you» to the terrific sponsor
        </blockquote>
        <div class="line">
            <div class="unit size1of3">
                &nbsp;
            </div>
            <div class="unit size1of3">
                {{ tc.module('Teaser', 'Sponsors/namics') }}
            </div>
            <div class="last-unit">
                &nbsp;
            </div>
        </div>
    </div>
</div>
{% endblock %}