<img alt="Toolbar Create" src="{{ asset('/bundles/terrificmoduleteaser/images/toolbar/create.png')}}" />
<div class="promo">
    <h4 class="h3 icon create">Create</h4>

    <p class="base">
        Add new Modules & Skins to your project. The Skeleton is generated for you so that you can start right away.
    </p>
</div>