<img alt="Integration in your CMS or Framework of choice" src="{{ asset('bundles/terrificmoduleteaser/img/composer/export.png')}}" />
<div class="promo">
    <h4 class="h3 icon export">Export</h4>

    <p class="base">
        At the end of the day, Terrific Composer delivers you highly modularized and standardized HTML, JS and
        CSS. So the built frontend can be integrated easily in your CMS or Framework of choice.
    </p>
</div>