<img alt="Twitter Bootstrap, 960.gs, backbone.js" src="{{ asset('bundles/terrificmoduleteaser/img/composer/import.png')}}" />
<div class="promo">
    <h4 class="h3 icon import">Import</h4>

    <p class="base">
        There are lots of other cool frameworks out there! Don't miss Your favorites… Simply include and use them inside the Composer and enjoy the best of all worlds.
    </p>
</div>