<div class="bubble">
<pre class="highlight pygment dark">




</pre>
    <div class="centered"><a href="{{ path('composer_download')}}" class="button">Download Composer</a></div>
{% highlight 'text' 'pygment' %}

   -> Have a look at the README.md
{% endhighlight %}
<pre class="highlight pygment dark">



</pre>
<span class="arrow"></span>
</div>
<div class="promo">
    <h4 class="h3 icon download">Download & Install</h4>

    <p class="base">
        Download & extract the Composer archive, put it in your webroot and open
        <mark class="base">localhost/terrific-composer/web</mark> in your browser.
        To get up and running will take you less than 3 minutes.
    </p>
</div>