<img alt="Toolbar Create" src="{{ asset('bundles/terrificmoduleteaser/img/toolbar/open.png')}}" />
<div class="promo">
    <h4 class="h3 icon open">Open</h4>

    <p class="base">
        The Open dialog provides you fast access to all of your Modules and Pages.
    </p>
</div>