<div class="bubble">
{% highlight 'text' 'pygment' %}
<!-- Composer Structure -->
terrific-composer/
  app/
  bin/
  src/ <- Your code goes here
    Terrific/
      Composition/ <- Your project
      Module/
        Teaser/ <- Teaser module
        Logo/ <- Logo module
        ...
  vendor/
  web/ <- Open this in your browser
{% endhighlight %}
<span class="arrow"></span>
</div>
<div class="promo">
    <h4 class="h3 icon structure">Structure</h4>

    <p class="base">
        All of your code find its place in the <mark class="base">/src</mark> folder.
        For the moment you can ignore the rest and start playing around with the sample code.
    </p>
</div>