@import 'mixins.less';

/* General */
body {
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    color: #5E5E5E;
}

.center {
    width: 960px;
    margin: 0 auto;
}

.indent {
    padding-left: 0.9375em;
}

.top {
    position: relative;
    z-index: 20;
}

.sizeStructure {
    width: 370px;
}

.last-unit.sizeStructure {
    padding-left: 220px;
}

.hd.center {
    position: relative;
}

.hd.first {

    h2 {
        top: -4.5em;
    }

    span {
        width: 140px;
    }
}

.slope {
    background: #EDEEF0;
    margin-top: 5em;
    .transform(skew(0, 5deg));
}

.slope.first {
    margin-top: -3em;
}

.slope-content  {
    padding: 8em 0 4em 0;
    .transform(skew(0, -5deg));
}

.slope.first .slope-content {
    padding-top: 3em;
}

/* Headings */
.h3, .h4, .h5, .rich h3, .rich h4, .rich h5, blockquote {
    color: #000;
}

.h2, .h3, .rich h2, .rich h3, blockquote {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.h2 {
    color: #74AE00;
    display: block;
    position: absolute;
    z-index: 10;
    background: #fff;
    padding: 2.3em 1em 0.6em 100.8em; /* 0.6 =  24 / 40  */
    margin-top: 0.2em;
    left: -100em;
    font-size: 2.5em; /* 40 / 16 */
    line-height: 1.2em; /* 48 / 40 */
    white-space: nowrap;
    .transform(skew(-22deg));
}

.h2 a, .h2 span {
    display: block;
    .transform(skew(22deg));
}

.h3, .rich h3, blockquote {
    font-size: 1.5em; /* 24 / 16 */
    line-height: 1.25em; /* 30 / 24 */
    margin: 2em 0 1em 0;
}

.h3:first-child, .rich h3:first-child, blockquote:first-child {
    margin-top: 0;
}

.h3.centered {
    margin-left: auto;
    margin-right: auto;
    width: 600 / 24em;
}

.h4, .rich h4 {
    font-size: 1.333333em; /* 24 / 16 */
    line-height: 1em;
    margin: 0.5em 0 0.5em 0;
}

.h5, .rich h5 {
    font-size: 1.111111em; /* 20 / 16 */
    line-height: 1.2em; /* 24 / 20 */
    margin: 1.2em 0 0.5em 0;
}


/* Lists */
ul.base, .rich ul, ol.base, .rich ol {
    margin: 0.4em 0 1.25em 0;
    font-size: 1em;
    line-height: 1.25em; /* 20 / 14 */
}

ul.base ul, ol.base ol, .rich ul ul, .rich ol ol {
    margin: 0.5em 0 0 0;
    font-size: 1em;
}

ul.base li, ol.base li, .rich ul li, .rich ol li {
    margin-bottom: 0.35714286em;
}

ul.base li, .rich ul li {
    background: transparent url('/img/sprite.png') 0px 0.62em no-repeat;
    padding-left: 22px;
}

ol.base li, .rich ol li {
    list-style: decimal-leading-zero;
    list-style-position: inside;
    background: none;
    padding: 0 0 0 1.5em;
}

ol.base-big {
    li {
        padding-left: 30px;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 20 / 16em;
        line-height: 1.2em;
        min-height: 70 / 24em;
        padding-top: 20px;
    }

    li:before {
        clear: left;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 24 / 16em;
        line-height: 1.5em;
        height: 48px;
        width: 48px;
        display: block;
        float: left;
        text-align: center;
        -moz-border-radius: 48px;
        -webkit-border-radius: 48px;
        -ms-border-radius: 48px;
        -o-border-radius: 48px;
        border-radius: 48px;
        background: #222;
        margin-right: 0.4em;
        font-weight: 700;
        color: white;
        position: relative;
        top: -12px;
    }

    .first:before {
        content: '1';
    }

    .second:before {
        content: '2';
    }
    .third:before {
        content: '3';
    }
    .fourth:before {
        content: '4';
    }
}

/* Text blocks */
p.base, .rich p {
    margin-bottom: 1.25em; /* 20 / 16 */
    font-size: 1em;
    line-height: 1.5em; /* 24 / 16 */
}

mark.base, .rich mark {
    background: #74AE00;
    color: #fff;
    white-space: nowrap;
    padding: 0 0.4em;
}

highlight.base, .rich .highlight {
    margin-bottom: 1.25em; /* 20 / 15 */
}

em.base, .rich em {
    color: #74AE00;
    padding: 1px 4px 0;
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
}   

blockquote {
    position: relative;

    &.indent {
        margin-left: 52px;
    }

    &.offset {
        margin-top: 2em
    }

    &:before {
        content: " ";
        background: url('/img/quote.png') top left no-repeat transparent;
        height: 1em;
        display: inline-block;
        font-size: 36px;
        font-weight: 300;
        margin-left: -52px;
        line-height: 1em;
        width: 45px;
    }
}

/* Images */
img.base, .rich img {
    margin-bottom: 1.2em; /* 18 / 15 */
}

/* Links */
a.base, .rich a {
    display: inline-block;
    padding: 0 0.25em;
    color: #74AE00;
    background: transparent;
    text-decoration: none;
}

a.base:visited .rich a:visited {
    background: #7F7F7F;
    color: #fff
}

a.base:hover, a.base:active, .rich a:hover, .rich a:active {
    background: #74AE00;
    color: #fff;
}

/* Buttons */
a.button {
  .gradient(#74AE00, #74AE00,  #4e8f1b);
  border: 1px solid #4e8f1b;
  border-bottom: 1px solid #5b992b;
  .border-radius(4px);
  .box-shadow(inset 0 1px 0 0 #96ca6d);
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20 / 16em;
  line-height: 1em;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 #4c9021;

  &:hover {
    .gradient(#5b992b, #5b992b, #4e8f1b);
    .box-shadow(inset 0 1px 0 0 #8dbf67);
  }

  &:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    .box-shadow(inset 0 0 8px 4px #4e8f1b);
    text-shadow: 0 1px 0 0 #eeeeee;
  }
}


/* Bubble */
.bubble {
    position: relative;
    background: #000;
    color: #EDEEF0;
    padding: 0.8125em; /* 13 / 16 */
    margin: 0.5em 0.15384615em 1.5em;
}

.bubble .arrow{
    position: absolute;
    left: -0.8125em;
    bottom: -19px;
    font-size: 0pt;
    height: 0;
    width: 0;
    border: 20px solid transparent;
    border-left-color: #000;
    color: #000;
}

.block {
    padding-top: 3.125em;
    margin: 0;
}

.hint {
    display: block;
    margin: 12 / 16em auto;
    text-align: center;
    width: 700 / 16em;
    line-height: 24 / 16em;
}

.notice {
    margin: 24 / 16em 0;
    line-height: 24 / 16em;
    padding-left: 5.6em;
}

.centered {
    display: block;
    text-align: center;
}

.centered p {
    width: 30em;
    margin: 1em auto;
}

.buttons {
    display: block;
    text-align: center;
    margin: 3em auto 5em auto;
}

.demo {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 132px;
    right: 52px;
    width: 140px;
    height: 125px;
    background: transparent url('/img/demo.png') no-repeat top left;
}
