/* @group Module: Teaser */
@media all {
    .modTeaser {
        overflow: hidden;

        .promo {
            margin: 0 0.9375em;
        }

        /* bubble content */
        .bubble .highlight {
            padding: 0 0 0.5em 0;
        }

        .bubble .h3 {
            color: #fff;
        }

        .bubble .comingsoon {
            display: block;
            text-align: center;
            padding: 2em 0 2.6em;
            text-transform: uppercase;
            color: #de002f;
        }

        .bubble .button {
            background-image: -moz-linear-gradient(center top , rgba(222, 00, 47, 1) 0%, rgba(159, 00, 34, 1) 50%, rgba(140, 00, 27, 1) 50%, rgba(100, 00, 13, 1) 100%);
            font-size: 1em;
        }

        .buttons {
            overflow: hidden;
            margin-bottom: 0.68em;
        }

        .buttons li {
            background: none;
            display: block;
            float: left;
            padding: 0 0.25em 0 0;
        }

        /* icons */
        .icon {
            padding-bottom: 6 / 24em;
        }
        .icon:before {
            content: ' ';
            display: block;
            float: left;
            background: transparent url('/bundles/terrificmoduleteaser/images/icons.png') no-repeat top left;
            width: 60px;
            height: 48px;
            margin-top: -12px;
            padding: 0;
        }

        .icon.module:before {
            background-position: 0 0;
        }

        .icon.application:before {
            background-position: -100px 0;
        }

        .icon.connector:before {
            background-position: -200px 0;
        }

        .icon.sandbox:before {
            background-position: -300px 0;
        }

        .icon.skin:before {
            background-position: -400px 0;
        }

        .icon.bootstrap:before {
            background-position: -500px 0;
        }
    }
}
/* @end */
