/* @group Module: Teaser */
@media screen {
    .modTeaser {
        overflow: hidden;

        .promo {
            margin: 0 0.9375em;
        }

        .h3 {
            margin-bottom: 0.416666666em;
        }

        .h3:first-child {
            margin-top: 1.25em;
        }

        /* bubble content */
        .bubble {
            position: relative;

            .highlight {
                padding: 0 0 0.5em 0;
            }

            .h3 {
                color: #fff;
            }

            .comingsoon {
                display: block;
                text-align: center;
                padding: 2em 0 2.6em;
                text-transform: uppercase;
                color: #74ae00;
            }

            .button {
                background-image: -moz-linear-gradient(center top , rgba(222, 00, 47, 1) 0%, rgba(159, 00, 34, 1) 50%, rgba(140, 00, 27, 1) 50%, rgba(100, 00, 13, 1) 100%);
                font-size: 1em;
            }

            .lang {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                padding: 0.2em;
                background: #fff;
                color: #000;
                border: 1px solid #000;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 12 / 16em;
            }
        }

        .buttons {
            overflow: hidden;
            margin-bottom: 0.68em;
        }

        .buttons li {
            background: none;
            display: block;
            float: left;
            padding: 0 0.25em 0 0;
        }

        /* icons */
        .icon {
            padding-bottom: 6 / 24em;
        }
        .icon:before {
            content: ' ';
            display: block;
            float: left;
            background: transparent url('/bundles/terrificmoduleteaser/images/icons.png') no-repeat top left;
            width: 60px;
            height: 48px;
            margin-top: -12px;
            padding: 0;
        }

        .icon.module:before {
            background-position: 0 0;
        }

        .icon.application:before {
            background-position: -100px 0;
        }

        .icon.connector:before {
            background-position: -200px 0;
        }

        .icon.sandbox:before {
            background-position: -300px 0;
        }

        .icon.skin:before {
            background-position: -400px 0;
        }

        .icon.bootstrap:before {
            background-position: -500px 0;
        }

        .icon.structure:before {
            background-position: -600px 0;
        }

        .icon.maintain:before {
            background-position: -700px 0;
        }

        .icon.reuse:before {
            background-position: -800px 0;
        }

        .icon.create:before {
            background-position: -900px 0;
        }

        .icon.open:before {
            background-position: -1000px 0;
        }

        .icon.inspect:before {
            background-position: -1100px 0;
        }

        .icon.import:before {
            background-position: -1200px 0;
        }

        .icon.export:before {
            background-position: -1300px 0;
        }

        .icon.support:before {
            background-position: -1400px 0;
        }
    }
}
/* @end */
