/* @group Module: Navigation */
@media all {
    .modNavigation {
        background: #000;
    }

    .modNavigation ul {
        overflow: hidden;
        margin: 0 auto;
        width: 960px;
    }
    
    .modNavigation li {
        float: left;
        font-family: 'QuicksandBook', Arial, Helvetica, sans-serif;
        font-size: 0.6875em; /* 11 / 16 */
        line-height: 1em;
        letter-spacing: 0.1em;
    }
    
    .modNavigation a {
        display: block;
        color: #A9A9AA;
        text-decoration: none;
        text-transform: uppercase;
        padding: 21px 15px 16px; /* 21 + 16 + 11 (font) = 48 */
    }

    .modNavigation a:hover {
        color: #fff;
        background: #FF0052;
    }

    .modNavigation a:active {
        color: #fff;
        background: #7F7F7F;
    }
}

@media print {
    .modNavigation {
        display: none;
    }
}

/* @end */
