<div class="promo">
    <a href="http://www.namics.com"><img alt="Namics AG" src="{{ asset('bundles/terrificmoduleteaser/img/sponsors/namics_logo.png')}}" /></a>
    <p class="base">
        Namics is a leading IT and Web service provider based in Switzerland and Germany. We have created successfully
        numerous projects using Terrific and are proud to be sponsor of this open source project.
    </p>
</div>