{% extends 'TerrificCompositionBundle::base.html.twig' %}

{% block body %}
{{ tc.module('Logo') }}
<div class="autoCenter">
    <div class="rightCol size1of3">
        {{ tc.module('Toc', 'CoreDocs/skin')}}
    </div>
</div>
<div class="slopes">
    <div class="slope">
        <div class="slopeContent autoCenter">
            <h2 class="base"><span>Skin</span></h2>
            <div class="bd size2of3">
                {{ tc.module('Content', 'CoreDocs/skin')}}
            </div>
        </div>
    </div>
</div>
{% endblock %}
