@font-face {
    font-family: 'QuicksandBook';
    src: url('/web/fonts/Quicksand_Book-webfont.eot');
    src: url('/web/fonts/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'), url('/web/fonts/Quicksand_Book-webfont.woff') format('woff'), url('/web/fonts/Quicksand_Book-webfont.ttf') format('truetype'), url('/web/fonts/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBold';
    src: url('/web/fonts/Quicksand_Bold-webfont.eot');
    src: url('/web/fonts/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/web/fonts/Quicksand_Bold-webfont.woff') format('woff'), url('/web/fonts/Quicksand_Bold-webfont.ttf') format('truetype'), url('/web/fonts/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* General */
body {
    background: #fff;
    font-family: Helvetica, Arial, sans-serif;
    color: #7F7F7F;
}

.body {
    width: 960px;
    margin: 0 auto;
}

/* Headings */
h2.base, h3.base, h4.base, h5.base, h6.base, .rich h2, .rich h3, .rich h4, .rich h5, .rich h6 {
    font-family: 'QuicksandBook', Helvetica, sans-serif;
    color: #333;
}

h3.base:first-child, .rich h3:first-child {
    margin-top: 0;
}

h2.base, .rich h2 {
    font-family: 'Times New Roman', 'Times', serif;
    font-size: 3em; /* 56 / 18 */
    letter-spacing: 0.05em;
    line-height: 1em; /* 56 / 56 */
    margin: 0 0 0.42857em 0; /* 24 / 56  */
    color: #7F7F7F;
}

h3.base, .rich h3 {
    font-size: 1.666666em; /* 30 / 18 */
    line-height: 1.2em; /* 36 / 30 */
    margin: 1.2em 0 0.5em 0;
}

h4.base, .rich h4 {
    font-size: 1.333333em; /* 24 / 18 */
    line-height: 1em;
    margin: 1.5em 0 0.5em 0;
}

h5.base, .rich h5 {
    font-size: 1.111111em; /* 20 / 18 */
    line-height: 1.2em; /* 24 / 20 */
    margin: 1.2em 0 0.5em 0;
}

h5.base, .rich h5 {
    font-size: 1.111111em; /* 20 / 18 */
    line-height: 1.2em; /* 24 / 20 */
    margin: 1.2em 0 0 0;
}

/* Lists */
ul.base, .rich ul, ol.base, .rich ol {
    margin: 0.4em 0 1.6em 0;
    font-size: 0.9375em;
    line-height: 1.5em;
}

ul.base ul, ol.base ol, .rich ul ul, .rich ol ol {
    margin: 0.5em 0 0 0;
    font-size: 1em;
}

ul.base li, ol.base li, .rich ul li, .rich ol li {
    margin-bottom: 0.25em;
}

ul.base li, .rich ul li {
    background: transparent url(/web/img/sprite.png) 0px 0.62em no-repeat;
    padding-left: 22px;
}

ol.base li, .rich ol li {
    list-style: decimal-leading-zero;
    list-style-position: inside;
    background: none;
    padding: 0 0 0 1.5em;
}

/* Text blocks */
p.base, .rich p {
    margin-bottom: 1.5em; /* 24 / 15 */
    font-size: 0.9375em;
    line-height: 1.5em;
}

em.base, .rich em {
    font-style: italic;
    color: #696969;
    display: inline-block;
    padding: 0 1px 0 0;
}

mark.base, .rich mark {
    background: #FF9AA6;
    color: #fff;
    padding: 0 0.25em;
}

blockquote.base, .rich blockquote {

}

/* Images */
img.base, .rich img {
    margin-bottom: 1.2em; /* 18 / 15 */
}

/* Links */
a.base, .rich a {
    display: inline-block;
    padding: 0 0.25em;
    color: #FF0052;
    background: transparent;
    text-decoration: none;
}

a.base:visited .rich a:visited {
    background: #7F7F7F;
    color: #fff
}

a.base:hover, a.base:active, .rich a:hover, .rich a:active {
    background: #FF0052;
    color: #fff;
}
/* @group Module: Default */
@media all {

    .modContent {
        padding-top: 2em;
        background: transparent url('/web/img/border.gif') repeat-x 0 2em;
    }

    .modContent .rich {
        padding: 0 0.9375em;
    }
    
    .modContent .block {
        padding-top: 4em;
    }

    .modContent ul.dir li {
        padding-left: 0;
        background: none;
    }

    .modContent .highlight {
        margin: 0.5em 0.15384615em;
        border: 1px solid #7F7F7F;
        box-shadow: 1px 3px 2px 0 #dddddd;
    }

    .modContent h2.promo {
        padding-top: 1.5em;
        margin-bottom: 0;
        border: none;
    }

    .modContent .promo {
        text-align: center;
        margin: 0 1em;
        border-bottom: 5px solid #dddddd
    }

}

/* @end */

/* @group Module: Default */
@media all {
    .modLogo {
        text-align: center;
        padding: 1em 0 2em 0;
    }

    .modLogo a {
        display: inline-block;
    }

    .modLogo span {
        display: block;
        text-align: center;
        font-family: "Times New Roman",Times,serif;
        font-size: 0.9em;
    }
}

/* @end */

/* @group Module: Navigation */
@media all {
    .modNavigation {
        background: #000;
    }

    .modNavigation ul {
        overflow: hidden;
        margin: 0 auto;
        width: 960px;
    }
    
    .modNavigation li {
        float: left;
        font-family: 'QuicksandBook', Arial, Helvetica, sans-serif;
        font-size: 0.6875em; /* 11 / 16 */
        line-height: 1em;
        letter-spacing: 0.1em;
        padding: 21px 15px 16px; /* 21 + 16 + 11 (font) = 48 */
    }
    
    .modNavigation a {
        color: #A9A9AA;
        text-decoration: none;
        text-transform: uppercase;
    }

    .modNavigation:hover {
        color:
    }

    .modNavigation:active {
        color: #fff;
    }
}

@media print {
    .modNavigation {
        display: none;
    }
}

/* @end */
