/* @group Module: Default */
@media all {

    .modContent {
        padding-top: 2em;
        background: transparent url('/web/img/border.gif') repeat-x 0 2em;
    }

    .modContent .rich {
        padding: 0 0.9375em;
    }
    
    .modContent .block {
        padding-top: 4em;
    }

    .modContent ul.dir li {
        padding-left: 0;
        background: none;
    }

    .modContent .highlight {
        margin: 0.5em 0.15384615em;
        border: 1px solid #7F7F7F;
        box-shadow: 1px 3px 2px 0 #dddddd;
    }

    .modContent h2.promo {
        padding-top: 1.5em;
        margin-bottom: 0;
        border: none;
    }

    .modContent .promo {
        text-align: center;
        margin: 0 1em;
        border-bottom: 5px solid #dddddd
    }

}

/* @end */
