/* @group Module: Intro */
@media all {

    .modIntro {
        overflow: hidden;
        position: relative;
        z-index: 10;

        .bubble {
            background: #de002f;
            color: #fff;
            font-family: 'Quicksand', Helvetica, sans-serif;
            font-size: 1.875em;
            line-height: 1em;
            text-transform: uppercase;
            max-width: 14em;
            float: left;
        }

        a {
            display: block;
            float: left;
            padding-top: 2.5em;
        }

        .bubble .arrow {
            border-left-color: #de002f;
        }

        .emphasize {
            font-weight: bold;
        }
    }
}

/* @end */
