/* @group Module: Default */
@media all {

    .modContent .rich {
        padding: 0 0.9375em;
    }

    .modContent .block {
        padding-top: 4em;
        width: 960px;
        margin: 0 auto;
    }

    .modContent ul.dir li {
        padding-left: 0;
        background: none;
    }

    .modContent .highlight {
        margin: 0.5em 0.15384615em;
        border: 1px solid #7F7F7F;
        box-shadow: 1px 3px 2px 0 #dddddd;
    }

    .modContent .slogan {
        display: block;
        margin: 0.8em auto; /* 12 / 15 */
        text-align: center;
        width: 600px;
        font-size: 0.9375em; /* 15 /16 */
        line-height: 1.6em; /* 24 / 15 */
    }

    .modContent h2.promo {
        padding-top: 1.5em;
        margin-bottom: 0;
        border: none;
    }

    .modContent .promo {
        text-align: center;
        margin: 0 1em;
        border-bottom: 5px solid #dddddd
    }

    .modContent .nav {
        overflow: hidden;
    }

    .modContent .nav li {
        background: none;
        display: block;
        float: left;
        padding: 0 0.9375em 0 0;
    }

    .modContent .button {
        background-color: rgba(50, 50, 50, 0.9);
        background-image: -moz-linear-gradient(center top , rgba(50, 50, 50, 0.9) 0%, rgba(30, 30, 30, 0.9) 50%, rgba(20, 20, 20, 0.9) 50%, rgba(0, 0, 0, 0.9) 100%);
        border: 0 none;
        border-radius: 4px 4px 4px 4px;
        box-shadow: 1px 1px 1px 0 rgba(135, 135, 135, 0.1) inset, -1px -1px 1px 0 rgba(135, 135, 135, 0.1) inset;
        color: #FFFFFF;
        font-family: 'QuicksandBook', Helvetica, sans-serif;
        font-size: 1.111111em;
        line-height: 1em;
        padding: 0.6em 1em;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8), 0 1px 1px rgba(255, 255, 255, 0.3);
    }

    .modContent .button:hover {
        background-color: rgba(70, 70, 70, 0.9);
        background-image: -moz-linear-gradient(center top , rgba(70, 70, 70, 0.9) 0%, rgba(50, 50, 50, 0.9) 50%, rgba(40, 40, 40, 0.9) 50%, rgba(20, 20, 20, 0.9) 100%);
        cursor: pointer;
    }

    .modContent .button:active {
        background-color: rgba(30, 30, 30, 0.9);
        background-image: -moz-linear-gradient(center top , rgba(30, 30, 30, 0.9) 0%, rgba(20, 20, 20, 0.9) 50%, rgba(10, 10, 10, 0.9) 50%, rgba(0, 0, 0, 0.9) 100%);
    }

}

/* @end */
