<div class="block line">
    <div class="unit size1of3">
        <a href="{{ path('composer') }}" title=""><img
                src="{{ asset('bundles/terrificmoduleintro/images/beethoven.png') }}" width="220"></a>
        <ul class="nav">
            <li><a class="button" href="/composer">Learn More</a></li>
            <li><a class="button" href="/composer/download">Download</a></li>
        </ul>
    </div>
    <div class="lastUnit rich">
        <p>
            To make your life easier I created the Terrific Composer. The Composer is a Frontend Development Framework specifically designed for building top-notch frontends.
        </p>
        <p>
            It comes with a handy toolbar that streamlines your development and lets you focus on the cool stuff.
        </p>
        <img alt="Terrific Architecture" src="{{ asset('bundles/terrificmodulecontent/images/composer/toolbar-explained.png')}}" class="centered"/>
    </div>
</div>