<div class="line block">

    <div class="unit size1of2 rich">
        <h3>Before</h3>
        <img class="screenshot" src="{{ asset('bundles/terrificmodulecontent/images/content/structure_before.png')}}" />
    </div>
    <div class="lastUnit rich">
        <h3>After</h3>
        <img class="screenshot"src="{{ asset('bundles/terrificmodulecontent/images/content/structure_after.png')}}" />
    </div>
</div>
<div class="line block">
    <div class="unit size1of2 rich">

    </div>
    <div class="lastUnit">
    </div>
</div>
<div class="line block">
    <div class="unit size1of3">

    </div>
</div>