/* @group Module: Default */
@media all {
    .modLogo {
        text-align: center;
        padding: 1em 0 1.5em 0;
        border-bottom: 1px solid #7F7F7F;
    }

    .modLogo a {
        display: inline-block;
    }

    .modLogo span {
        display: block;
        text-align: center;
        font-family: "Times New Roman",Times,serif;
        font-size: 0.9em;
    }
}

/* @end */
