<<<<<<< HEAD
<a href="http://www.freitag.ch"><img alt="Screenshot: Freitag Website" src="{{ asset('bundles/terrificmoduleteaser/img/showcases/freitag.png')}}" /></a>
<div class="promo">
    <h4 class="h3">A Terrific Couple</h4>
    <p class="base">
        Great bags meet Terrific! The world famous bag creator <a class="base" href="http://www.freitag.ch">Freitag</a> built his whole website with TerrificJS.
    </p>
</div>
=======
<a href="http://www.freitag.ch"><img alt="Screenshot: Freitag Website" src="{{ asset('bundles/terrificmoduleteaser/img/showcases/freitag.png')}}" /></a>
>>>>>>> showcases
