<a href="http://www.raiffeisen.ch"><img alt="Screenshot: Raiffeisen Website" src="{{ asset('bundles/terrificmoduleteaser/img/showcases/raiffeisen.png')}}" /></a>
<div class="promo">
    <h4 class="h3">Trustworthy…</h4>
    <p class="base">
        The bank that belongs to their customers. <a class="base" href="http://www.raiffeisen.ch">Raiffeisen</a> built their website with TerrificJS.
    </p>
</div>