<<<<<<< HEAD
<a href="http://www.sbb.ch"><img alt="Screenshot: SBB Website" src="{{ asset('bundles/terrificmoduleteaser/img/showcases/sbb.png')}}" /></a>
<div class="promo">
    <h4 class="h3">Never Too Late…</h4>
    <p class="base">
        <a class="base" href="http://www.raiffeisen.ch">SBB</a> – The main swiss train company – is used to modularity not only on their website.
    </p>
</div>
=======
<a href="http://www.sbb.ch"><img alt="Screenshot: SBB Website" src="{{ asset('bundles/terrificmoduleteaser/img/showcases/sbb.png')}}" /></a>
>>>>>>> showcases
