<h2 class="base promo">Integrations</h2>
<span class="slogan">
    If you prefer to build your frontend directly integrated within your CMS/Framework – instead of using the Terrific Composer – these
    integrations are for you!</span>
<div class="line block">
    <div class="unit size1of3">
        <img src="{{ asset('/web/img/integrations/terrific_for_wordpress.png')}}" width="279"/>
    </div>
    <div class="lastUnit rich">
        <ul class="nav">
            <li><a href="/wordpress">Learn More</a></li>
            <li><a href="/wordpress/download">Download</a></li>
        </ul>
        <p>
            Morbi a enim in magna semper bibendum. Etiam scelerisque, nunc ac egestas consequat, odio nibh euismod
            nulla, eget auctor orci nibh vel nisi. Aliquam erat volutpat. Mauris vel neque sit amet nunc gravida congue
            sed sit amet purus. Quisque lacus quam, egestas ac tincidunt a, lacinia vel velit. Aenean facilisis nulla
            vitae urna tincidunt.
        </p>
    </div>
</div>
<div class="line block">
    <div class="unit size1of3">
        <img src="{{ asset('/web/img/integrations/terrific_for_symfony.png')}}" width="279"/>
    </div>
    <div class="lastUnit rich">
        <ul class="nav">
            <li><a href="/symfony">Learn More</a></li>
            <li><a href="/symfony/download">Download</a></li>
        </ul>
        <p>
            Morbi a enim in magna semper bibendum. Etiam scelerisque, nunc ac egestas consequat, odio nibh euismod
            nulla, eget auctor orci nibh vel nisi. Aliquam erat volutpat. Mauris vel neque sit amet nunc gravida congue
            sed sit amet purus. Quisque lacus quam, egestas ac tincidunt a, lacinia vel velit. Aenean facilisis nulla
            vitae urna tincidunt.
        </p>
    </div>
</div>

<div class="line block">
    <div class="unit size1of3">
        <img src="{{ asset('/web/img/integrations/terrific_for_codeigniter.png')}}" width="279"/>
    </div>
    <div class="lastUnit rich">
        <ul class="nav">
            <li><a href="/symfony">Learn More</a></li>
            <li><a href="/symfony/download">Download</a></li>
        </ul>
        <p>
            Morbi a enim in magna semper bibendum. Etiam scelerisque, nunc ac egestas consequat, odio nibh euismod
            nulla, eget auctor orci nibh vel nisi. Aliquam erat volutpat. Mauris vel neque sit amet nunc gravida congue
            sed sit amet purus. Quisque lacus quam, egestas ac tincidunt a, lacinia vel velit. Aenean facilisis nulla
            vitae urna tincidunt.
        </p>
    </div>
</div>


