{% extends 'TerrificCompositionBundle::base.html.twig' %}

{% block body %}
<div class="autoCenter">
{# {{ tc.module('Logo') }} #}
{{ tc.module('ContentNavigation', 'Navigation:home') }}
</div>
{{ tc.module('Content', 'Content/home', null, null, { 'class' : 'slopes'}) }}
{% endblock %}
