<img alt="Twitter Bootstrap, 960.gs, backbone.js" src="{{ asset('/bundles/terrificmoduleteaser/images/features/favorites.png')}}" />
<div class="promo">
    <h4 class="h3">Don't Miss Your Favorites</h4>

    <p class="base">
        There are lots of other cool frameworks out there! The best part of Terrific Composer is its
        flexibility. Simply include and use your favorites inside the Composer and enjoy the best of all worlds.
    </p>
</div>