<img alt="Terrific Toolbar" src="{{ asset('/bundles/terrificmoduleteaser/images/features/toolbar.png')}}" />
<div class="promo">
    <h4 class="h3">Terrific Toolbar</h4>

    <p class="base">
        Try it out yourself! The Terrific Toolbar on the right provides you:
    </p>
    <ul class=base>
        <li>Automatic Module & Skin creation</li>
        <li>Easy and fast access to your Modules and Pages</li>
        <li>Inspect mode for the current Page</li>
        <li>… and more to come…</li>
    </ul>
</div>