



Further Resources
<p>The TerrificJS Architecture is almost identical with what <a href="http://www.nczonline.net/">Nicholas
    Zakas</a> describes as Scalable
    JavaScript Application Architecture</p>

<p>If you want to dive deep into this architecture and the underlying patterns, please have a look at these excellent resources:</p>
<ul>
    <li>
        <a
                href="http://www.slideshare.net/nzakas/scalable-javascript-application-architecture">Scalable
            JavaScript Application Architecture</a> by Nicolas Zakas
    </li>
    <li>
        <a
                href="http://speakerdeck.com/u/addyosmani/p/building-decoupled-large-scale-applications-using-javascript-and-jquery">
            Decoupled Large-Scale Applications</a> by Addy Osmani
    </li>
</ul>