<div class="rich">
    <h3 id="fire">fire - stay in touch with your connected modules</h3>
{% highlight 'js' 'pygment' %}
/**
 * Notifies all attached connectors about changes.
 *
 * @method fire
 * @param {String} state the new state
 * @param {Object} data the data to provide to your connected modules
 * @param {Function} defaultAction the default action to perform
 * @return {void}
 */
fire: function(state, [data], [defaultAction]) {
{% endhighlight %}
    <p>The fire method is your communication device. Stay in touch with your connected modules!</p>
    <p>
        <a title="connector documentation" href="{{ path('api_connector') }}">Connectors</a> provides you an easy and concise way
        to connect your modules. But once connected, how can they talk with each other? The <em>fire</em>
        method is your communication device!
    </p>
    <h4>Example: Talk about the current mood</h4>

    <p>
        Given the case that connected modules want to make smalltalk about their current mood. Smalltalk should be easy…
        so it is with TerrificJS ;-)
    </p>

    <p>In your «talking» module</p>
{% highlight 'js' 'pygment' %}
onBinding: function() {
    var that = this,
    $ctx = this.$ctx;

    $('.talk', $ctx).bind('click', function() {
        that.fire('changeMood', { mood : 'perfect' }, function() { $.log.debug('yeah... really'); });
    });
}
{% endhighlight %}

    <p>In your «receiving» module</p>

{% highlight 'js' 'pygment' %}
onChangeMood: function(data) {
    $.log.debug('... oh you are in a ' + data.mood + ' mood?');
},

afterChangeMood: function(data) {
    $.log.debug('... is it because of the weather?');
}
{% endhighlight %}
    <p>The logging output of the conversation above is:</p>

{% highlight 'html' 'pygment' %}
... oh you are in a perfect mood?
yeah... really
... is it because of the weather?
{% endhighlight %}
    <h4>Example: Shut up your smalltalk partner</h4>

    <p>
        Looking at the snippet above, you see that the «receiving» module has 2 chances to interact – <em>onChangeMood</em>
        and <em>afterChangeMood</em>. But why?<br>
        Maybe you are not in the mood for smalltalk ;-)
    </p>

    <p>In your «receiving» module</p>

{% highlight 'js' 'pygment' %}
onChangeMood: function(data) {
    $.log.debug('... oh you are in a ' + data.mood + ' mood? So, because everything seems to be ok - there is no need for a smalltalk...');
    return false;
},

afterChangeMood: function(data) {
    $.log.debug('... is it because of the weather?');
}
{% endhighlight %}

    <p>Assuming that the talking module remains the same, the logging output is:</p>

{% highlight 'html' 'pygment' %}
... oh you are in a perfect mood?
So, because everything seems to be ok - there is no need for a smalltalk...
{% endhighlight %}
    <p>So by simply returning <em>false</em>, the receiving module can make a veto to suppress the execution of the
        <em>defaultAction</em> and the <em>afterChangeMood</em> method.</p>
</div>