<h4 class="info fits">Low Complexity</h4>
<ul class="dir">
    <ul>
        <li class="complexity low">index.html</li>
    </ul>
    <ul class="logo">
        <li><strong>Logo/</strong></li>
        <li class="first complexity low">logo.html</li>
        <li class="first">css/</li>
        <li class="second complexity low">Logo.css</li>
        <li class="first">js/</li>
        <li class="second low">Tc.Module.Logo.js</li>
    </ul>
    <ul class="navigation">
        <li><strong>Navigation/</strong></li>
        <li class="first complexity low">navigation.html</li>
        <li class="first">css/</li>
        <li class="second complexity low">Navigation.css</li>
        <li class="first">js/</li>
        <li class="second complexity low">Tc.Module.Navigation.js</li>
    </ul>
</ul>