<div class="bubble">
{% highlight 'js' 'pygment' %}
/* Logo/js/Tc.Module.Logo.js */
(function($) {
  Tc.Module.Logo = Tc.Module.extend({
    on: function(callback) {
        callback();
    },
    after: function() { }
  });
})(Tc.$);
{% endhighlight %}
<div class="lang">JS</div>
<span class="arrow"></span>
</div>
<div class="promo">
    <h4 class="h3">Flavor it with a little JS magic…</h4>
    <p class="base">
        Create a <a class="base" href="{{ path('api')}}">TerrificJS</a> module with the same name & fill it with your jQuery code.
    </p>
</div>