<div class="bubble">
{% highlight 'js' 'pygment' %}
/* Logo/js/Tc.Module.Logo.js */
(function($) {
  Tc.Module.Logo = Tc.Module.extend({
    dependencies: function() { },
    beforeBinding: function() { },
    onBinding: function() { },
    afterBinding: function() { }
  });
})(Tc.$);
{% endhighlight %}
<span class="arrow"></span>
</div>
<div class="promo">
    <h4 class="h3">Flavor it with a little JS magic…</h4>
    <p class="base">
        Create a TerrificJS module with the same name, fill it with your jQuery code and let the magic
        happen!
    </p>
</div>