<div class="promo">
    <h4 class="h3 icon maintain">Maintainability</h4>

    <p class="base">
        A new feature? Need to change an existing one? Terrific makes it perfectly clear where to put your hands on – without having to worry about breaking your site.
    </p>
</div>