<div class="promo">
    <h4 class="h3">Reusability</h4>

    <p class="base">
        Modules are like Legos. Use them in your grid in every combination you can think of. Use them once, twice or
        as many times you like – even on the same page.
    </p>
</div>