<div class="promo">
    <h4 class="h3">Structure</h4>

    <p class="base">
        The Terrific Module structure helps you to organize your project in a very natural way. It reduces the complexity by splitting your code up in little pieces.
    </p>
</div>