<div class="promo">
    <h4 class="h3 icon bootstrap">Bootstrap</h4>

    <p class="basefor you automatically">
        Kickstarts the engine of your Application. Saves you from doing tedious stuff by wiring up your Components automatically.
    </p>
</div>