<div class="promo">
    <h4 class="h3 icon bootstrap"><a class="base" href="{{ path('api_basics') ~ '#bootstrap'}}">Bootstrap</a></h4>

    <p class="base">
        Kickstarts the engine of your Application. Saves you from doing tedious stuff by wiring up your Components automatically.
    </p>
</div>