<div class="promo">
    <h4 class="h3 icon module">Modules</h4>

    <p class="base">
        The real stars of TerrificJS. All of your JavaScript code will find its place in one of the Modules.
    </p>
</div>