<div class="bubble">
{% highlight 'html' 'pygment' %}
<div class="mod modNews
            skinNewsHighlighted">
<!-- your news content goes here -->
</div>
{% endhighlight %}
    <span class="arrow"></span>
</div>
<div class="promo">
    <h4 class="h3 icon skin">Skins</h4>

    <p class="base">
        Simply add an additional skin class to your markup – ie. skinNewsHighlighted. This will decorate your <em>Tc.Module.News</em>
        instance with the appropriate <em>Tc.Module.News.Highlighted</em> skin.
    </p>
</div>