<div class="bubble">
{% highlight 'html' 'pygment' %}
<div class="mod mod-news">

<!-- your news content goes here -->
</div>
{% endhighlight %}
    <span class="arrow"></span>
</div>
<div class="promo">
    <h4 class="h3 icon module">Modules</h4>

    <p class="base">
        Mark your Module with the <em>.mod</em> class – to identify them as modules – and a specific module class – ie. <em>.mod-news</em>. TerrificJS will instantiate <em>Tc.Module.News</em> for you automatically.
    </p>
</div>