<div class="bubble">
{% highlight 'html' 'pygment' %}
<div class="mod mod-news"
     data-connectors="status,filtering">
<!-- your news content goes here -->
</div>
{% endhighlight %}
    <span class="arrow"></span>
</div>
<div class="promo">
    <h4 class="h3 icon connector">Connectors</h4>

    <p class="base">
        The <em>data-connectors</em> attribute takes a comma separated list of connector ids. Each of them refers to a
        separate communication channel. TerrificJS will wire up the associated Modules and let them talk with each other.
    </p>
</div>